@charset "UTF-8";
@font-face {
    font-family: 'Comic Neue';
    src: url(Comic_Neue/ComicNeue-BoldItalic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Passion One';
    src: url(Passion_One/PassionOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Passion One';
    src: url('Passion_One/PassionOne-Bold.ttf') format('truetype');
    font-weight: bold; 
}
@font-face {
    font-family: 'Passion One';
    src: url('Passion_One/PassionOne-Black.ttf') format('truetype');
    font-weight: 900;
}
* {
  margin: 0px;
  padding: 0px;
}
header{
    background-color: black;
    color: white;
}
header h1{
    padding-top: 50px;
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    text-align: center;
}
header p{
    text-align: center;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header a:hover{
    text-decoration: underline;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Comic Neue', cursive;
    margin: 2em 0px 0px 25px;
    text-align: left;
    padding-bottom: 100px;  
    font-size: 2em;
}
#img1{
    background-image: url(imagens/background001.jpg);
    background-size: no repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    padding-left: 25px;
    margin-top: 0%;
    margin-bottom: 50px;
    padding-top: 0%;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
nav p{
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    text-align: left;
    font-style: italic;
    font-weight: 900;
    font-size: 2em;
    margin: 100px auto;
    padding: 20px ;
}    
#img2{
    background-image: url(imagens/background002.jpg);
    background-size: no repeat;
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    padding-left: 25px;
    margin-top: 0%;
    margin-bottom: 50px;
    padding-top: 0%;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
#quebra{
    padding-bottom: 2em;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer a:hover{
    text-decoration: underline;
}